apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  # השם של האפליקציה כפי שהיא תופיע בממשק המשתמש (UI) של ArgoCD
  name: status-page
  # המקום שבו *הקובץ הזה* נשמר בקלאסטר.
  # למה argocd? כי ArgoCD מחפש קבצי הגדרות אך ורק במרחב השמות שבו הוא עצמו מותקן.
  namespace: argocd
spec:
  # שיוך לפרויקט בתוך ArgoCD (עוזר לניהול הרשאות בחברות גדולות).
  # למה default? כי בפרויקט שלנו אין צורך בהפרדת הרשאות מורכבת, אז משתמשים בברירת המחדל.
  project: default

  # -- מקור האמת שלנו (Source of Truth) --
  # מאיפה ArgoCD אמור לשאוב את ההוראות?
  source:
    # כתובת הגיט של הפרויקט שלכם.
    repoURL: https://github.com/yarinalma6/nitzanim-final-workshop.git

    # איזה ענף (Branch) בגיט אנחנו רוצים לעקוב אחריו?
    # בחרנו ב-main, כי לשם נכנס הקוד הסופי שאושר.
    targetRevision: main

    # התיקייה בתוך הגיט שבה נמצאים קבצי הקוברנטיס.
    path: k8s

  # -- יעד ההתקנה (Destination) --
  # איפה ArgoCD צריך להקים את השרתים בפועל?
  destination:
    # הכתובת הפנימית של הקלאסטר.
    # למה הכתובת הזו? זו כתובת קבועה שאומרת לארגו: "תתקין את האפליקציה על אותו הקלאסטר שבו אתה רץ עכשיו" (In-cluster).
    server: https://kubernetes.default.svc

    # באיזה "חדר" בקלאסטר האפליקציה תרוץ?
    # בחרנו ב-default (אפשר גם לפתוח namespace ייעודי בשם status-page בהמשך אם נרצה).
    namespace: default

  # -- מדיניות הסנכרון (Sync Policy) --
  # איך ArgoCD מגיב לשינויים?
  syncPolicy:
    automated: # הגדרנו שהסנכרון יקרה אוטומטית בכל פעם שיש Push לגיט.

      # למה true? אם נמחק קובץ מהגיט (למשל סרביס ישן), ארגו ימחוק אותו גם מהקלאסטר כדי שלא יישאר "זבל".
      prune: true

      # למה true? זה מנגנון ההגנה שלנו (GitOps אמיתי).
      # אם מישהו מתחבר ידנית לקלאסטר ומשנה משהו (למשל מוריד את כמות הרפליקות ל-1),
      # ארגו מיד יזהה שזה לא תואם לגיט (שם כתוב 2) ויתקן את זה בחזרה אוטומטית.
      selfHeal: true